## Lets give the index also

In [4]:
import pandas as pd
import  numpy as np


elon_ai=np.array(["tesla","starlink","x","solarcity","xai"])
ser=pd.Series(elon_ai,index=["a","b","c","d","e"])
ser

a        tesla
b     starlink
c            x
d    solarcity
e          xai
dtype: object

In [5]:
ser["a"]

'tesla'

In [8]:
ser.dtype

dtype('O')

In [9]:
type(ser)

pandas.core.series.Series

In [13]:
import pandas as pd
s1=pd.Series([10,20,30],index=['a','b','c'])
s2=pd.Series([11,34,55],index=['d','e','f'])
result=s1+s2
print(result)

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
dtype: float64

In [14]:

import pandas as pd
s1=pd.Series([10,20,30],index=['a','b','c'])
s2=pd.Series([11,34,55],index=['a','b','c'])
result=s1+s2
print(result)

a    21
b    54
c    85
dtype: int64

In [15]:
s1=pd.Series([10,20,30],index=['a','b','c'])
s2=pd.Series([11,34,55,9,3,44],index=['a','b','c','d','e','f'])
result=s1+s2
print(result)

a    21.0
b    54.0
c    85.0
d     NaN
e     NaN
f     NaN
dtype: float64

In [16]:
s1=pd.Series([10,20,30])
s2=pd.Series([10,25,30])
result=s1 == s2
print(result)

0     True
1    False
2     True
dtype: bool

In [18]:
s1=pd.Series([10,20,30])
s2=pd.Series([10,25,30])
result=s1 == s2
s1[s1==s2]

0    10
2    30
dtype: int64

In [17]:
s1=pd.Series([10,20,30])
s2=pd.Series([10,25,30])
result=s1 > s2
print(result)

0    False
1    False
2    False
dtype: bool

In [19]:
s1[(s1>5)&(s2>20)]

1    20
2    30
dtype: int64

## Pandas Series Index Attribute

In [20]:
import pandas as pd
data=pd.Series([10,20,30,40],index=['a','b','c','d'])
# Accessing the index
print("Original Index:",data.index)

Original Index: Index(['a', 'b', 'c', 'd'], dtype='object')

In [21]:
# modifying the index
data.index=['w','x','y','z']
print("Modified Series:\n",data)

Modified Series:
 w    10
x    20
y    30
z    40
dtype: int64

In [26]:
# Assigning Duplicate Index labels
import pandas as pd
import numpy as np
elon_ai=np.array(["tesla","starlink","x","solarcity","xai"])
ser=pd.Series(elon_ai)
ser.index=['a','b','c','d','e']
ser

a        tesla
b     starlink
c            x
d    solarcity
e          xai
dtype: object

In [27]:
ser.iloc[1]

'starlink'

In [28]:
ser.iloc['a']

TypeError: Cannot index by location index with a non-integer key

## Resetting Series index

In [29]:
ser.reset_index()

  index          0
0     a      tesla
1     b   starlink
2     c          x
3     d  solarcity
4     e        xai

In [30]:
ser.reset_index(drop=True)

0        tesla
1     starlink
2            x
3    solarcity
4          xai
dtype: object

In [31]:
ser.reset_index(drop=True,inplace=True)
ser

0        tesla
1     starlink
2            x
3    solarcity
4          xai
dtype: object

## Pandas GroupBy

The groupby()function in pandas is important for data analysis as it allows us to group data by one or more ategories and then apply different functions to those groups .This technique is used for handling large datasets efficiently and performing opereation like aggregation transformation and filteration on grouped data.s me column.

## The groupby() operation is divided into three main step:
- step1: spiltting data into groups the spliting rocess referes to diving the dataset into group based on a particuler condition or key.
  this can be done using the groupby()function by passing one or more columns as keys.

## Methods for spiliting data are as follows:
  group data by a single key :in order to group data with one key we pass only one key as an argument in groupby function. Here we will group the data by the name column

In [1]:
import pandas as pd

In [3]:
data1={'Name':['jai','anuj','neha','nitin'],
      'Age':[23,44,56,78],
      'Address':['khairna','nanital','haldwani','ranikhet'],
      'qualification':['Msc','bsc','btech','mtech']}
df=pd.DataFrame(data1)
print(df)
df.groupby('Name')
print(df.groupby('Name').groups)

    Name  Age   Address qualification
0    jai   23   khairna           Msc
1   anuj   44   nanital           bsc
2   neha   56  haldwani         btech
3  nitin   78  ranikhet         mtech
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000240CBC455B0>

In [6]:
data1={'Name':['jai','anuj','neha','nitin'],
      'Age':[23,44,56,78],
      'Address':['khairna','nanital','haldwani','ranikhet'],
      'qualification':['Msc','bsc','btech','mtech']}
df=pd.DataFrame(data1)
print(df)
df.groupby('Name')
print(df.groupby('Name'))

    Name  Age   Address qualification
0    jai   23   khairna           Msc
1   anuj   44   nanital           bsc
2   neha   56  haldwani         btech
3  nitin   78  ranikhet         mtech
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000240CBC7C850>

In [5]:
data1={'Name':['jai','anuj','neha','nitin'],
      'Age':[23,44,56,78],
      'Address':['khairna','nanital','haldwani','ranikhet'],
      'qualification':['Msc','bsc','btech','mtech']}
df=pd.DataFrame(data1)
print(df)
df.groupby('Age')
print(df.groupby('Age').groups)

    Name  Age   Address qualification
0    jai   23   khairna           Msc
1   anuj   44   nanital           bsc
2   neha   56  haldwani         btech
3  nitin   78  ranikhet         mtech
{23: [0], 44: [1], 56: [2], 78: [3]}

In [10]:
data1={'Name':['jai','anuj','neha','nitin'],
      'Age':[23,44,56,78],
      'Address':['khairna','nanital','haldwani','ranikhet'],
      'qualification':['Msc','bsc','btech','mtech']}
df=pd.DataFrame(data1)
print(df)
df.groupby('qualification')
print(df.groupby('qualification').groups)

    Name  Age   Address qualification
0    jai   23   khairna           Msc
1   anuj   44   nanital           bsc
2   neha   56  haldwani         btech
3  nitin   78  ranikhet         mtech
{'Msc': [0], 'bsc': [1], 'btech': [2], 'mtech': [3]}

In [11]:
data1={'Name':['jai','anuj','neha','nitin'],
      'Age':[23,44,56,78],
      'Address':['khairna','nanital','haldwani','ranikhet'],
      'qualification':['Msc','bsc','btech','mtech']}
df=pd.DataFrame(data1)
print(df)
df.groupby('Address')
print(df.groupby('Address').groups)

    Name  Age   Address qualification
0    jai   23   khairna           Msc
1   anuj   44   nanital           bsc
2   neha   56  haldwani         btech
3  nitin   78  ranikhet         mtech
{'haldwani': [2], 'khairna': [0], 'nanital': [1], 'ranikhet': [3]}

In [13]:
data1={'Name':['jai','anuj','neha','nitin'],
      'Age':[23,44,56,78],
      'Address':['khairna','nanital','haldwani','ranikhet'],
      'qualification':['Msc','bsc','btech','mtech']}
df=pd.DataFrame(data1)
print(df)
df.groupby(['Address','Age'])
print(df.groupby(['Address','Age']).groups)

    Name  Age   Address qualification
0    jai   23   khairna           Msc
1   anuj   44   nanital           bsc
2   neha   56  haldwani         btech
3  nitin   78  ranikhet         mtech
{('haldwani', 56): [2], ('khairna', 23): [0], ('nanital', 44): [1], ('ranikhet', 78): [3]}

In [14]:
vij=df.groupby('Name')# jo first name he use lera he 
vij.first()

       Age   Address qualification
Name
anuj    44   nanital           bsc
jai     23   khairna           Msc
neha    56  haldwani         btech
nitin   78  ranikhet         mtech

In [38]:
df.groupby(['Name','qualification'])
print(df.groupby(['Name','qualification']).groups)

{('anuj', 'bsc'): [1, 5], ('jai', 'Msc'): [0, 4], ('mohit', 'Ba'): [7], ('neha', 'btech'): [2], ('nitin', 'mtech'): [3], ('priyanshu', 'bcom'): [6]}

In [26]:
df.groupby(['Name'],sort=True)['Age'].sum()

Name
anuj     44
jai      23
neha     56
nitin    78
Name: Age, dtype: int64

In [27]:
df.groupby(['Name','qualification'],sort=True)['Age'].sum()

Name   qualification
anuj   bsc              44
jai    Msc              23
neha   btech            56
nitin  mtech            78
Name: Age, dtype: int64

In [29]:
df.groupby(['Name'])['Age'].sum()# bydefault sort = true hi hota he

Name
anuj     44
jai      23
neha     56
nitin    78
Name: Age, dtype: int64

In [24]:
df.groupby(['Name'],sort=False)['Age'].sum()

Name
jai      23
anuj     44
neha     56
nitin    78
Name: Age, dtype: int64

In [30]:
df.groupby(['Name'],sort=True)['Age'].sum()

Name
anuj     44
jai      23
neha     56
nitin    78
Name: Age, dtype: int64

In [32]:
df.groupby(['Name'],sort=True)['qualification'].sum()

Name
anuj       bsc
jai        Msc
neha     btech
nitin    mtech
Name: qualification, dtype: object

In [31]:
df.groupby(['Name'],sort=True)['Age']

In [34]:
df.groupby(['Name'],sort=True)['qualification'].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [35]:
data1={'Name':['jai','anuj','neha','nitin','jai','anuj','priyanshu','mohit'],
      'Age':[23,44,56,78,23,44,78,90],
      'Address':['khairna','nanital','haldwani','ranikhet','khairna','nanital','almmora','bhimtal'],
      'qualification':['Msc','bsc','btech','mtech','Msc','bsc','bcom','Ba']}
df=pd.DataFrame(data1)
print(df)
df.groupby(['Address','Age'])
print(df.groupby(['Address','Age']).groups)

        Name  Age   Address qualification
0        jai   23   khairna           Msc
1       anuj   44   nanital           bsc
2       neha   56  haldwani         btech
3      nitin   78  ranikhet         mtech
4        jai   23   khairna           Msc
5       anuj   44   nanital           bsc
6  priyanshu   78   almmora          bcom
7      mohit   90   bhimtal            Ba
{('almmora', 78): [6], ('bhimtal', 90): [7], ('haldwani', 56): [2], ('khairna', 23): [0, 4], ('nanital', 44): [1, 5], ('ranikhet', 78): [3]}

In [37]:
df.groupby(['Name','qualification'])
print(df.groupby(['Name','qualification']).groups)

{('anuj', 'bsc'): [1, 5], ('jai', 'Msc'): [0, 4], ('mohit', 'Ba'): [7], ('neha', 'btech'): [2], ('nitin', 'mtech'): [3], ('priyanshu', 'bcom'): [6]}

In [42]:
grp=df.groupby('Name')
for Name , group in grp:
    print(Name)
    print(group)
    print()

anuj
   Name  Age  Address qualification
1  anuj   44  nanital           bsc
5  anuj   44  nanital           bsc

jai
  Name  Age  Address qualification
0  jai   23  khairna           Msc
4  jai   23  khairna           Msc

mohit
    Name  Age  Address qualification
7  mohit   90  bhimtal            Ba

neha
   Name  Age   Address qualification
2  neha   56  haldwani         btech

nitin
    Name  Age   Address qualification
3  nitin   78  ranikhet         mtech

priyanshu
        Name  Age  Address qualification
6  priyanshu   78  almmora          bcom

In [43]:
grp=df.groupby('Name')
for Name  in grp:
    print(Name)
    print(group)
    print()

('anuj',    Name  Age  Address qualification
1  anuj   44  nanital           bsc
5  anuj   44  nanital           bsc)
        Name  Age  Address qualification
6  priyanshu   78  almmora          bcom

('jai',   Name  Age  Address qualification
0  jai   23  khairna           Msc
4  jai   23  khairna           Msc)
        Name  Age  Address qualification
6  priyanshu   78  almmora          bcom

('mohit',     Name  Age  Address qualification
7  mohit   90  bhimtal            Ba)
        Name  Age  Address qualification
6  priyanshu   78  almmora          bcom

('neha',    Name  Age   Address qualification
2  neha   56  haldwani         btech)
        Name  Age  Address qualification
6  priyanshu   78  almmora          bcom

('nitin',     Name  Age   Address qualification
3  nitin   78  ranikhet         mtech)
        Name  Age  Address qualification
6  priyanshu   78  almmora          bcom

('priyanshu',         Name  Age  Address qualification
6  priyanshu   78  almmora          bcom)
        Name  Age  Address qualification
6  priyanshu   78  almmora          bcom

In [46]:
grp=df.groupby('Name')
for Name , group in grp:
    print(Name)

anuj
jai
mohit
neha
nitin
priyanshu